<div id="chartPanel" class="panel panel-default">
	<div class="panel-heading text-center">
		Summary
	</div>
	<div class="chart-container">
		<div class="panel-body">
			<canvas id="chart"></canvas>

			<a href="#chartOptions" class="chart-options-toggle" data-bind="click: toggleSettings">
				Settings
			</a>

			<div id="chartLegend"></div>
		</div>

		<div id="chartOptions" data-bind="css: { visible: showSettings }">
			<a href="#" class="close" data-bind="click: toggleSettings">&times;</a>

			<div>
				<label class="radio-inline">
					<input type="radio" value="radar" data-bind="checked: chartType"> Radar
				</label>
				<label class="radio-inline">
					<input type="radio" value="bar" data-bind="checked: chartType"> Bar
				</label>
			</div>

			<div>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showCareerStats"> Career stats
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showMonthlyStats"> Monthly stats
				</label>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" data-bind="checked: customizeStats"> Select / Order stats
				</label>
			</div>

			<div class="chart-customize" data-bind="visible: customizeStats">
				<a href="#" data-bind="click: resetStats">Reset</a>
				<ul data-bind="sortable: selectedStats">
					<li data-bind="text: $root.getStatLabel($data)"></li>
				</ul>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" data-bind="checked: showBestStats"> Replace ranks with best stats
				</label>
			</div>
		</div>
	</div>
</div>