<div id="chartPanel" class="panel panel-default">
	<div class="panel-heading text-center">
		Summary
	</div>
	<div class="chart-container">
		<div class="panel-body">
			<div>
				<canvas id="chart"></canvas>
			</div>

			<a href="#chartOptions" class="chart-options-toggle" data-bind="click: toggleSettings">
				Settings
			</a>

			<div id="chartLegend" data-bind="visible: showLegend"></div>
		</div>

		<div id="chartOptions" data-bind="css: { visible: showSettings }">
			<a href="#" class="close" data-bind="click: toggleSettings">&times;</a>
			<a href="#" class="reset-all" data-bind="click: resetAll">Reset All</a>

			<fieldset>
				<legend>Chart type</legend>

				<label class="radio-inline">
					<input type="radio" value="radar" data-bind="checked: chartType"> Radar
				</label>
				<label class="radio-inline">
					<input type="radio" value="bar" data-bind="checked: chartType"> Bar
				</label>
			</fieldset>

			<fieldset>
				<legend>Chart elements</legend>

				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showCareerStats"> Career stats
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showMonthlyStats"> Monthly stats
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showName"> Name
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showLegend"> Legend
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showStoredStats"> Stored stats
				</label>
			</fieldset>

			<fieldset>
				<legend>Chart options</legend>

				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: customizeStats"> Select / Order stats
				</label>

				<div class="chart-customize" data-bind="visible: customizeStats">
					<a class="btn btn-default btn-sm pull-right" href="#" data-bind="click: resetStats">Reset</a>

					<ul data-bind="sortable: selectedStats">
						<li data-bind="text: $root.getStatLabel($data)"></li>
					</ul>
				</div>

				<div>
					<button class="btn btn-default" data-bind="click: storeStats">
						Store stats
					</button>
					<button class="btn btn-default" data-bind="click: resetStoredStats, enable: hasStoredStats">
						Remove stored stats
					</button>
				</div>
			</fieldset>


			<fieldset>
				<legend>Other</legend>

				<label class="checkbox-inline">
					<input type="checkbox" data-bind="checked: showBestStats"> Replace ranks with best stats
				</label>
			</fieldset>
		</div>
	</div>
</div>